node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.git
.gitignore
.DS_Store
README.md
tests
*.md
.editorconfig
.prettierrc
.prettierignore
phpunit.xml
composer.lock.backup
